################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/p2/build/vs2017/.vs/p2/v15
/p3/build/vs2017/.vs/p3/v15
